@page
@model DoggyDaycare.Pages.ViewModel
@{
}

<h1>Future Appointments</h1>
<hr />
<a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">
    Add Appointment
</a>

<a button type="button" class="btn btn-success" asp-area="" asp-page="/Index">
    Todays Appointments
</a>
<br />
<br />
<table id="records" class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Owner
            </th>
            <th>
                Pet Name
            </th>
            <th>
                Date / Time
            </th>
            <th>
                Duration (hrs)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model.Records)
        {
        <tr class="list-row">
            <td>@Html.DisplayFor(modelItem => record.Id)</td>
            <td>@Html.DisplayFor(modelItem => record.Owner)</td>
            <td>@Html.DisplayFor(modelItem => record.Name)</td>
            <td>@Html.DisplayFor(modelItem => record.Date)</td>
            <td>@Html.DisplayFor(modelItem => record.Duration)</td>
            <td>
                <a button type="button" class="btn btn-danger" asp-page="/Delete" asp-route-id="@record.Id">Delete</a>
                <a button type="button" class="btn btn-primary" asp-page="/Edit" asp-route-id="@record.Id">Update</a>
            </td>
        </tr>
        }
    </tbody>
</table>
